<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-column brand-column">
      <h2 class="footer-brand">CONTROL POR V.A. DE PLACAS METÁLICAS</h2>
      <p class="footer-copyright">© {{ year }} TACTICA TIC</p>
    </div>

    <div class="footer-column">
      <h3 class="column-title">Landing</h3>
      <ul class="footer-links">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#soluciones">Soluciones</a></li>
        <li><a href="#tecnología">Tecnología</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</footer>
