<section class="about-section">

    <div class="about-section__container">

        <div class="about-section__content">

            <h2>

                {{ content.titleLineOne }}

                <span class="text-pink">

                    {{ content.highlightedWordOne }}

                </span>

                {{ content.titleLineTwo }}

                <span class="text-pink">

                    {{ content.highlightedWordTwo }}

                </span>

            </h2>

            <p>

                {{ content.description }}

            </p>

        </div>

        <div class="about-section__image">

            <div class="about-section__media">

                @if (content.mediaType === 'video') {

                <video [src]="content.media" autoplay muted loop playsinline>
                </video>

                } @else {

                <img [src]="content.media" alt="About">

                }

            </div>

        </div>

    </div>

</section>